<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
<%= link_to 'New School', new_school_path %><br>
<%= link_to 'New Life Event', new_life_event_path %><br>
