<h1><%= link_to 'Allo', welcome_index_path %></h1>

<h2>Listing all life_events</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @life_events.each do |life_event| %>
      <tr>
        <td><%= life_event.title %></td>
        <td><%= life_event.date %></td>
        <td><%= life_event.description %></td>
        <td><%= link_to 'Show', life_event %></td>
        <td><%= link_to 'Edit', edit_life_event_path(life_event) %></td>
        <td><%= link_to 'Destroy', life_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Life event', new_life_event_path %>
