<p id="notice"><%= notice %></p>

<strong>Person ID:</strong>
<%= @life_event.person_id %>
</p>
<% if @life_event.person %>
<p>
<strong>Person:</strong>
<%=link_to @life_event.person, @life_event.person %>
</p>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @life_event.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @life_event.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @life_event.description %>
</p>

<%= link_to 'Edit', edit_life_event_path(@life_event) %> |
<%= link_to 'Back', life_events_path %>
