<p id="notice"><%= notice %></p>

<p>
  <strong>School Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Beginning year:</strong>
  <%= @school.beginning_year %>
</p>

<p>
  <strong>Ending year:</strong>
  <%= @school.ending_year %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
