<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>School:</strong>
  <ul>
  <% @person.schools.order(:beginning_date).each do |school| %>

  <li>
    <%= school.school_name %>: <%= school.beginning_date %> - <%= school.ending_date %>
    <%= link_to "Edit", edit_school_path(school) %>
  </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Life Events:</strong>
  <ul>
  <% @person.life_events.order(:date).each do |life_event| %>
  <li>
    <%= life_event.event %>, <%= life_event.date %>: <%= life_event.description %>
    <%= link_to "Edit", edit_life_event_path(life_event) %>
  </li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
